* {
    font-family: 'Segoe UI Variable Display', 'Segoe UI', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

:root {
    --cor-preto: #111111;
    --cor-cinza: #303030;
    --cor-branco: #EAEAEA;
    --cor-verde: #479c74;
    --cor-verde-claro: #B7E4C7;
}

.button {
    background-color: var(--cor-verde);
    color: var(--cor-branco);
    padding: .5rem 2rem;
    border: 1px solid var(--cor-verde);
    border-radius: 10px;
    transition: .2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--cor-preto);
    color: var(--cor-verde);
}

.button span {
    margin-right: 1rem;
}

.buttons-container {
    display: flex;
}

.table-container {
    margin-top: 1.5rem;
}

table th {
    background-color: var(--cor-cinza);
    border: 1px solid var(--cor-preto);
    text-align: left;
    padding: .5rem;
}

table td {
    background-color: var(--cor-preto);
    border: 1px solid var(--cor-cinza);
    text-align: left;
    padding: .5rem;
    padding-right: 1rem;
}

body {
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    height: 100vh;
}

button {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #ffffff;
    cursor: pointer;
}

input {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #ffffff;
    color-scheme: dark;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select {
    background-color: #111111;
    color: #ffffff;
    border: 1px solid #ffffff;
}

/* Menu */

.menu-container {
    width: 100%;
    background-color: var(--cor-cinza);
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    cursor: pointer;
    transition: .2s;
}

.menu-item span {
    margin-right: .7rem;
}

.menu-item:hover {
    background-color: var(--cor-verde);
}

.menu_item-select {
    background-color: var(--cor-verde);
}

/* lock */

#lock {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lock-container {
    background-color: var(--cor-cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 10px;
}

.lock-icon {
    width: 10rem;
    background-color: var(--cor-cinza);
    margin-top: -5rem;
    border-radius: 100%;
}

.lock-container h1 {
    font-size: 1.5rem;
}

.lock-container h2 {
    font-size: 1rem;
}

.lock-buttons, .lock-form {
    margin-top: 2rem;
    display: flex;
}

.lock-buttons button:nth-child(1) {
    margin-right: 3rem;
}

.lock-form {
    flex-direction: column;
}

.lock-form h2 {
    margin-bottom: 1rem;
}

.lock-form input {
    padding: .5rem 0 .5rem .5rem;
}

.lock-form button {
    width: 7rem;
    margin: 0 auto;
}

/* Content */

#content {
    max-width: 75rem;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}